input{
width:38px;
height:38px;
text-align:center;
border:1px solid #fff;
background:#000;
color:#fff;
outline:none;
} 
.attatch{
margin:5px;
width:200px;
height:30px;
background:#fff;
color:#000;
border:1px solid black;
display:none;
}
.validate{
display:none;
}
button{
width:100px;
height:40px;
background:#000;
color:#fff;
border:none;
outline:none;
}
button:active{
background:#aaa;
color:#000;
}
.active-block{
background:#ccc;
color:#000;
}
.active-block.active-rc{
background:rgb(10,200,200);
color:#fff;
}

.active-rc{
background:rgb(50,200,50); 
color:#fff;
}
.active-block:focus{
background:#fff;
color:#000;
}
.invalid{
color:#f00;
}
.hdivider-1{background:#f00;}
.hdivider-2{background:#0f0;} 
.hdivider-3{background:#00f;}
.vdivuder-1{background:#777;} 
.hdivide{background:#9f9;}
.vdivider-2{background:#999;}
.vdivider-3{background:#ff0;}
